html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.noscroll-wraper {
  width: 100%;
  height:inherit;
  min-height: 100%;
  overflow-x: hidden;
}
.noscroll-wraper .page-wraper {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .noscroll-wraper .page-wraper {
    width: 200%;
  }
}
.noscroll-wraper .page-wraper .left-panel-control {
  display: none;
}
.noscroll-wraper .page-wraper .left-panel {
  position: relative;
  float: left;
  width: 20em;
  height: 500%;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-left: -20em;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .noscroll-wraper .page-wraper .left-panel {
    width: 50%;
    max-width: 50%;
    margin-left: -50%;
  }
}
.noscroll-wraper .page-wraper .left-panel .left-panel-content {
  position: fixed;
  width: inherit;
  height: inherit;
  background-color: #87d69b;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}
@media only screen and (max-width: 767px) {
  .noscroll-wraper .page-wraper .left-panel .left-panel-content {
    width: 100%;
    min-width: 100%;
  }
}
.noscroll-wraper .page-wraper .left-panel .left-panel-content h3 {
  display: block;
  width: 75%;
  background: url(/img/koc_logo.png) top center no-repeat ;
  height: 3em;
  margin: 0 auto;

}
.noscroll-wraper .page-wraper .left-panel .left-panel-content h4 {
  text-align: center;
  padding-left: 3em;
}
.noscroll-wraper .page-wraper .content-wraper {
  position: relative;
  float: left;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
@media only screen and (max-width: 767px) {
  .noscroll-wraper .page-wraper .content-wraper {
    width: 50%;
    min-width: 50%;
  }
}
.noscroll-wraper .page-wraper .content-wraper .top-bar {
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: #4e9689;
  padding: 1em;
  z-index: 100;
}
.noscroll-wraper .page-wraper .content-wraper .top-bar #lbl_leftPanelControl > .glyphicon {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.noscroll-wraper .page-wraper .content-wraper .content {
  margin-top: 4em;
  background-color: #f4fce8;
}
.noscroll-wraper .page-wraper .left-panel-control:checked + .left-panel {
  margin-left: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.noscroll-wraper .page-wraper .left-panel-control:checked ~ .content-wraper {
  width: calc(100% - 20em);
  margin-left: 280px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.noscroll-wraper .page-wraper .left-panel-control:checked ~ .content-wraper > .top-bar .glyphicon {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*# sourceMappingURL=app.css.map */


.cls_line:hover{
    background-color: tomato !important;
}
.cls-qw{color: #fff;}
.cls-qw:hover{color: #FF6347;}
.cls-left-menu-button{background-color: deepskyblue;}
.gradient-border{
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, royalblue 50%, deepskyblue 100%);
    border-image-slice: 1;
}
.task-gradient{
    background: linear-gradient(to bottom, #708090 0% , #fff 200%);
    color: #fff;
}
.filter-gradient{
    background: linear-gradient(to bottom, #FF6347 0% , #fff 200%);
    color: #fff;
}