.bgcolor-blue{
    background-color: blue;
}
.bgcolor-green{
    background-color: green;
}
.bgcolor-red{
    background-color: red;
}
.bgcolor-orange{
    background-color: orange;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-white{
    background-color: white;
}
.bgcolor-lightgrey{
    background-color: lightgrey;
}
.height-30{
    height: 30px;
}
.height-40{
    height: 40px;
}
.height-50{
    height: 50px;
}

.cls-padding-0px{
    padding: 0px !important;
}
.cls-padding-10px{
    padding: 0px 10px 0px 10px !important;
}
.cls-margin-bottom{
    margin: 0px 0px 5px 0px !important;
}
.cls-margin-top{
    margin: 10px 0px 5px 0px !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}