.bgcolor-blue{
    background-color: blue;
}
.bgcolor-green{
    background-color: green;
}
.bgcolor-red{
    background-color: red;
}
.bgcolor-orange{
    background-color: orange;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-white{
    background-color: white;
}
.height-30{
    height: 30px;
}
.height-40{
    height: 40px;
}
.height-50{
    height: 50px;
}