		<div id="bindingContainer" class="container-fluid" style="background-color: lightcyan">
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group" id="accordion">
					<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
						<div class="panel-heading filter-gradient">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapse1"
								   href="#collapse1" class="collapsed">
									Filtreleme 
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Site</label>
									 <span id="site" class="kth col-md-12 form-control"></span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12" style="padding: 0;">
										<label class="control-label" for="blokadi">Blok</label>
									</div>
									<div class="col-md-12" style="padding: 0;">
										<select id="blokadi" multiple="multiple" size="4">
											<option value="1">Blok Adı 1</option>
											<option value="2">Blok Adı 2</option>
											<option value="3">Blok Adı 3</option>
											<option value="4">Blok Adı 4</option>
											<option value="5">Blok Adı 5</option>
											<option value="6">Blok Adı 6</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Abone Ad-Soyad</label>
									<input type="text" class="form-control" id="Text2" value="" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Atanma Tarihi</label>
									<input type="date" class="form-control" id="Date1" value="" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Randevu Tarihi</label>
									<input type="date" class="form-control" id="Date2" value="" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Sonlanma Tarihi</label>
									<input type="date" class="form-control" id="Date3" value="" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskNameFilter">Task Adı</label>
									</div>
									<div class="col-md-12">
										<select id="taskNameFilter" data-bind="options: tasks, optionsText: 'taskname', optionsValue: 'taskid'" multiple="multiple"></select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">İnternet Servis Sağlayıcı</label>
									</div>
									<div class="col-md-12">
										<select id="servissaglayici" data-bind="options: isslist, optionsText: 'issText', optionsValue: 'id'" multiple="multiple">
										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">Abone Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="abonedurumu" data-bind="options: ctstatuslist, optionsText: 'Text', optionsValue: 'ID'" multiple="multiple">
											
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">Personel</label>
									</div>
									<div class="col-md-12">
										<select data-size="10" id="personel" data-bind="options: personellist, optionsText: 'personelname', optionsValue: 'personelid'" multiple="multiple">
										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskdurumu">Task Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="taskdurumu"  data-bind="options: taskstatuslist, optionsText: 'taskstate', optionsValue: 'taskstateid'"  multiple="multiple">
										    
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 21px;">
								<div class="btn-group pull-right" role="group">
									<button type="button" class="btn btn-success">Sorgula</button>
									<button type="button" class="btn btn-info">Temizle</button>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group">
					<div class="panel" style="border: 1px solid #fff !important;">
						<div class="panel-heading task-gradient">
							<div class="row cls-padding-0px">
								<div class="col-xs-6 col-sm-6 col-md-6">
									Task Tanımları
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<!--pagination Starts-->
									<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
										<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
											<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { e.go().first(); }">&lt;&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { e.go().previous(); }">&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { e.go().next(); }">&gt;</a></li>
											<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { e.go().last(); }">&gt;&gt;</a></li>
										</ul>
									</nav>
									<!--pagination finish-->
								</div>
							</div>
						</div>
						<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
							<div class="container-fluid cls-padding-0px cls-deneme-height ">
								<div class="row cls-margin-task">
									<div class="col-lg-12 cls-padding-0px">
										<div class="col-lg-12 cls-task cls-padding-0px">
											<table class="table" id="taskquetable" data-pagination="true" data-search="true">
												<thead>
													<tr>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">
															<div class="dropdown">
																<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" style="padding: 2px 15px;">
																	İşlemler <span class="caret"></span>
																</a>
																<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
																	<li>
																		<a href="#myModal1" role="button" class="btn" data-toggle="modal" style="padding-right: 110px; float: left;">Yeni</a>
																	</li>
																	<br />
																	<li class="divider"></li>
																	<li class="dropdown-submenu">
																		<a tabindex="-1" href="#">Seçim</a>
																		<ul class="dropdown-menu">
																			<li><a tabindex="-1" href="#">Tümünü Seç</a></li>
																			<li><a href="#">Seçimi Çevir</a></li>
																			<li><a href="#">Seçimi Temizle</a></li>
																		</ul>
																	</li>
																	<li class="divider"></li>
																	<li><a href="#">Filtreyi Temizle</a></li>
																	<li><a href="#">Excel'e Kaydet</a></li>
																</ul>
															</div>
														</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Task</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Site</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Blok</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Ad-Soyad</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Statü</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">ISS</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Atanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Randevu Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Personel</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Durum</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Sonlanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Açıklama</th>
													</tr>
												</thead>
												<tbody>
													<!-- ko if:(pageNo()==0) -->
													<tr>
														<td colspan="9" style="background: url('/Content/images/progresbar.gif') center center no-repeat;"></td>
													</tr>
													<!-- /ko -->
													<!-- ko foreach: taskqueuelist -->
													<!--<tr data-bind="click: function (data, evt) { $parent.select(data, evt); }" class="cls_line" onclick="">
														<td></td>
														<td><input type="text" class="form-control" id="exampleInputName2"></td>
														<td><select class="form-control"><option></option><option>Tamamlandı</option><option>Devam Ediyor</option><option>İptal</option></select></td>
													</tr>-->
													<tr data-bind="click: function (data, evt) { $parent.select(data, evt); }" class="cls_line" onclick="">
														<td>
															<!-- Button trigger modal -->
															<a href="TaskQueueEditForm.html" target="_blank">
																<button type="button" class="btn btn-primary btn-lg" style="padding: 3px; border-radius: 0px; font-size:14px;">
																	Düzenle
																</button>
																<input type="checkbox" />
															</a>

														</td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
														<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<!--pagination Starts-->
							<nav class="text-center">
								<ul class="pagination">
									<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { e.go().first(); }">&lt;&lt;</a></li>
									<li><a href="javascript:void(0)" data-bind="click: function (e) { e.go().previous(); }">&lt;</a></li>
									<li><a href="javascript:void(0)" data-bind="click: function (e) { e.go().next(); }">&gt;</a></li>
									<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { e.go().last(); }">&gt;&gt;</a></li>
								</ul>
							</nav>
							<!--pagination finish-->

						</div>
					</div>
				</div>
			</div>
		</div>


<script type="text/javascript" src="Templates/ListTaskqueue.js"></script>
