<style>
        #taskquetable {
            cursor: pointer;
            color: #000;
        }
            #taskquetable tr:hover {
                background: #00ffff;
            }
        .selected {
            background: #ffd800;
        }

        .a { position: relative; padding:0 }
      .a i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
    </style>	
    <div id="bindingContainer" class="container-fluid" style="background-color: lightcyan">
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group" id="accordion">
					<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
						<div class="panel-heading filter-gradient">
                            <a data-toggle="collapse" data-target="#collapse1"
                               href="javascript:void(0)" class="collapsed filtertitle">
                                <h4 class="panel-title">
                                    Filtreleme
                                    <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>
                                </h4>
                            </a>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Site</label>
                                    <input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
								<!--	 <span id="site" class="kth col-md-12 form-control" data-bind="value:sitename"></span>-->
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12" style="padding: 0;">
										<label class="control-label" for="blokadi">Blok</label>
									</div>
									<div class="col-md-12" style="padding: 0;">
										<select id="blokadi" multiple="multiple" size="4">
											<option value="1">Blok Adı 1</option>
											<option value="2">Blok Adı 2</option>
											<option value="3">Blok Adı 3</option>
											<option value="4">Blok Adı 4</option>
											<option value="5">Blok Adı 5</option>
											<option value="6">Blok Adı 6</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Abone Ad-Soyad</label>
									<input type="text" class="form-control" id="Text2" data-bind="value:customername" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Atanma Tarihi</label>
									<div class="col-md-12 a">
                                        <input type="text" id="daterangepicker1" class="form-control" data-bind="value:attachmentDate">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Randevu Tarihi</label>
									<div class="col-md-12 a">
                                        <input type="text" id="daterangepicker2" class="form-control" data-bind="value: appointmentDate">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Sonlanma Tarihi</label>
									 <div class="col-md-12 a">
                                        <input type="text" id="daterangepicker3" class="form-control" data-bind="value: consummationDate">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskNameFilter">Task Adı</label>
									</div>
									<div class="col-md-12">
										<select id="taskNameFilter" data-bind="options: tasks, optionsText: 'taskname', optionsValue: 'taskname',value:selectedTaskname " multiple="multiple"></select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">İnternet Servis Sağlayıcı</label>
									</div>
									<div class="col-md-12">
										<select id="servissaglayici" data-bind="options: isslist, optionsText: 'issText', optionsValue: 'issText',value:selectedIss" multiple="multiple">
										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">Abone Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="abonedurumu" data-bind="options: ctstatuslist, optionsText: 'Text', optionsValue: 'Text' ,value:selectedCustomerstatus" multiple="multiple">
											
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">Personel</label>
									</div>
									<div class="col-md-12">
										<select data-size="10" id="personel" data-bind="options: personellist,
                                                                                        optionsText: 'personelname',
                                                                                        optionsValue: 'personelname',
                                                                                        value: selectedPersonelname " multiple="multiple">										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskdurumu">Task Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="taskdurumu"  data-bind="options: taskstatuslist, optionsText: 'taskstate', optionsValue: 'taskstate', value: selectedTaskstatus"  multiple="multiple">										    
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 21px;">
								<div class="btn-group pull-right" role="group">
									<button data-bind="click: getFilter(1,dataModel.rowsPerPage())"  type="button" class="btn btn-success">Sorgula</button>
									<button  data-bind="click: clean()" type="button" class="btn btn-primary">Temizle</button>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group">
					<div class="panel" style="border: 1px solid #fff !important;">
						<div class="panel-heading task-gradient">
							<div class="row cls-padding-0px">
								<div class="col-xs-6 col-sm-6 col-md-6">
									Task İşlemleri
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Toplam sorgu süresi 
                                    <span id="querytime" data-bind="text: querytime"></span> saniye &nbsp;&nbsp;
                                    <span class="glyphicon   glyphicon glyphicon-dashboard " aria-hidden="true"></span>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<!--pagination Starts-->
									<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
										<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
											<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                            <li><select> <option >1</option> </select></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
											<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
										</ul>
									</nav>
									<!--pagination finish-->
								</div>
							</div>
						</div>
						<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
							<div class="container-fluid cls-padding-0px cls-deneme-height ">
								<div class="row cls-margin-task">
									<div class="col-lg-12 cls-padding-0px">
										<div class="col-lg-12 cls-task cls-padding-0px table-responsive">
											<table class="table" id="taskquetable" data-pagination="true" data-search="true">
												<thead>
													<tr>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">
															<div class="dropdown">
																<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" style="padding: 2px 15px;">
																	İşlemler <span class="caret"></span>
																</a>
																<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
																	<li class="dropdown-submenu">
																		<a tabindex="-1" href="#">Seçim</a>
																		<ul class="dropdown-menu">
																			<li><a tabindex="-1" href="#">Tümünü Seç</a></li>
																			<li><a href="#">Seçimi Çevir</a></li>
																			<li><a href="#">Seçimi Temizle</a></li>
																		</ul>
																	</li>
																	<li class="divider"></li>
																	<li><a href="#">Excel'e Kaydet</a></li>
																</ul>
															</div>
														</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Task</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Site</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Blok</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Ad-Soyad</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Statü</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">ISS</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Atanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Randevu Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Personel</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Durum</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Sonlanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Açıklama</th>
													</tr>                                                   
													
												</thead>
												<tbody>
                                                    <tr style="height:500px" data-bind="visible:isLoading">
														<td data-bind="visible: isLoading" colspan="12" style="background: url('/img/loadiing.gif')  center no-repeat;"></td>
													</tr>
													<!-- ko foreach: taskqueuelist -->
													<tr data-bind="click: function (data, evt) {select(data, evt); }" onclick=""></tr>
													<tr  onclick="">
														<td>
															<!-- Button trigger modal -->
                                                            <a href="#TaskQueueEditForm" data-bind="attr: {href:'#TaskQueueEditForm?'+taskorderno}">
																<button id="duzenle" type="button" class="btn btn-primary btn-lg" style="padding: 3px; border-radius: 0px; font-size:14px;">
																	Düzenle
																</button></a>
																<input type="checkbox" />
														</td>
														<td data-bind="text:task.taskname"></td>
														<td data-bind="text: ((attachedobject.sitename || (attachedobject.site && attachedobject.site.sitename) ||
                                                                              (attachedobject.block && attachedobject.block.site && attachedobject.block.site.sitename)) ||
                                                                              '&lt;boş&gt;'
                                                                             )"></td>
														<td data-bind="text: (attachedobject.blockname || (attachedobject.block && attachedobject.block.blockname) || '&lt;boş&gt;')"></td>
														<td data-bind="text: (attachedobject.customername && (attachedobject.customername + ' ' + attachedobject.customersurname) || '&lt;boş&gt;')"></td>
														<td data-bind="text: (attachedobject.customer_status && attachedobject.customer_status.Text || '&lt;boş&gt;') "></td>
														<td data-bind="text: (attachedobject.issStatus && attachedobject.issStatus.issText || '&lt;boş&gt;')"></td>
														<td data-bind="text: attachmentdate ? moment(attachmentdate).calendar() : '&lt;boş&gt;'" ></td>
														<td data-bind="text: (appointmentdate ? moment(appointmentdate).calendar() : '&lt;boş&gt;' )"></td>
														<td data-bind="text: (attachedpersonel && attachedpersonel.personelname || '&lt;atanmamış&gt;') "></td>
														<td data-bind="text:(taskstatepool &&taskstatepool.taskstate || 'AÇIK')"></td>
														<td data-bind="text: consummationdate ? moment(consummationdate).calendar() : '&lt;boş&gt;'"></td>
														<td data-bind="text: description"></td>
													</tr>  
                                                    <!-- /ko -->  

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!--pagination Starts-->
							<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
										<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
											<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); }, enable: pageNo > 1">&lt;&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage(); }">&lt;</a></li>
                                            <li><select >
                                            <option value="0">0</option>
                                            </select></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
											<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
										</ul>
									</nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
			</div>
		</div>


<script type="text/javascript" src="Templates/ListTaskqueue.js"></script>


<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
  
</script>
