<div id="bindingContainer" class="container-fluid" style="background-color: #D1E9F6 !important;">
	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group" id="accordion">
			<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
				<div class="panel-heading filter-gradient">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#collapse1"
						   href="javascript:void(0)" class="collapsed">
							Filtreleme
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="u-1">Ürün</label>
								<input type="text" class="form-control" id="exampleInputName2" value="" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="u-2">Kategori</label>
								<input type="text" class="form-control" id="exampleInputName2" value="" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="u-2">Giren</label>
								<input type="text" class="form-control" id="exampleInputName2" value="" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="u-2">Çıkan</label>
								<input type="text" class="form-control" id="exampleInputName2" value="" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="u-2">Miktar</label>
								<input type="text" class="form-control" id="exampleInputName2" value="" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 21px;">
							<div class="btn-group pull-right" role="group">
								<button type="button" class="btn btn-success">Sorgula</button>
								<button type="button" class="btn btn-info">Temizle</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group">
			<div class="panel" style="border: 1px solid #fff !important;">
				<div class="panel-heading task-gradient">
					<div class="row cls-padding-0px">
						<div class="col-xs-6 col-sm-6 col-md-6">
							Stok Kartları
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<!--pagination Starts-->
                            <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                                <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                                    <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                    <li><select> <option>1</option> </select></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                                    <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                                </ul>
                            </nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
				<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
					<div class="container-fluid cls-padding-0px cls-deneme-height ">
						<div class="row cls-margin-task">
							<div class="col-lg-12 cls-padding-0px">
								<div class="col-lg-12 cls-task cls-padding-0px">
									<table class="table" id="taskquetable" data-pagination="true" data-search="true">
										<thead>
											<tr>
												<th class="col-md-1" style="border-right: 1px solid #ddd;"></th>
												<th class="col-md-2" style="border-right: 1px solid #ddd;">Ürün</th>
												<th class="col-md-2" style="border-right: 1px solid #ddd;">Kategori</th>
												<th class="col-md-2" style="border-right: 1px solid #ddd;">Giren</th>
												<th class="col-md-2" style="border-right: 1px solid #ddd;">Çıkan</th>
												<th class="col-md-2" style="border-right: 1px solid #ddd;">Miktar</th>
											</tr>
										</thead>
										<tbody>
											<!-- ko foreach: taskqueuelist -->
											<tr data-bind="click: function (data, evt) { $parent.select(data, evt); }" class="cls_line" onclick="">
												<td colspan="9" style="background-color: #eee;"><input type="checkbox" id="checkbox_1" /></td>
											</tr>
											<tr data-bind="click: function (data, evt) { $parent.select(data, evt); }" class="cls_line" onclick="">
												<td></td>
												<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
												<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
												<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
												<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
												<td><div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">Default</p></div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!--pagination Starts-->
                    <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                        <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                            <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                            <li><select> <option>1</option> </select></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                            <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                        </ul>
                    </nav>
					<!--pagination finish-->
				</div>
			</div>
		</div>
	</div>
</div>
<script src="Templates/ListStockCase.js"></script>