<style>
        #taskquetable {
            cursor: pointer;
            color: #000;
        }
            #taskquetable tr:hover {
                background: rgba(131, 211, 242, 0.71);
            }
        .selected {
            background: #6fc679;
        }

        .a { position: relative; padding:0 }
      .a i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
    .dropdown-submenu {
        position: initial;
        z-index: 10000;
    }

    #tabkapatx {
      color:red;
    }
</style>	
    <div id="bindingContainer" class="container-fluid" style="background-color: #fff">
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group" id="accordion">
					<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
						<div class="panel-heading filter-gradient">
                            <a data-toggle="collapse" data-target="#collapse1"
                               href="javascript:void(0)" class="collapsed filtertitle">
                                <h4 class="panel-title">
                                    Filtreleme
                                    <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>
                                </h4>
                            </a>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Site</label>
                                    <input type="text" class="form-control" id="Text1" data-bind="value: sitename, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
								<!--	 <span id="site" class="kth col-md-12 form-control" data-bind="value:sitename"></span>-->
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12" style="padding: 0;">
										<label class="control-label" for="blokadi">Blok</label>
									</div>
									<div class="col-md-12" style="padding: 0;">
										<select id="blokadi" multiple="multiple" size="4">
											<option value="1">Blok Adı 1</option>
											<option value="2">Blok Adı 2</option>
											<option value="3">Blok Adı 3</option>
											<option value="4">Blok Adı 4</option>
											<option value="5">Blok Adı 5</option>
											<option value="6">Blok Adı 6</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Abone Ad-Soyad</label>
									<input type="text" class="form-control" id="Text2" data-bind="value: customername, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Atanma Tarihi</label>
									<div class="col-md-12 a">
                                        <input type="text" id="daterangepicker1" class="form-control" data-bind="value:attachmentDate, valueUpdate: 'keydown', event: { keypress: enterfilter }">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Randevu Tarihi</label>
									<div class="col-md-12 a">
                                        <input type="text" id="daterangepicker2" class="form-control" data-bind="value: appointmentDate, valueUpdate: 'keydown', event: { keypress: enterfilter }">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group-sm has-info cls-margin-bottom">
									<label class="control-label" for="durumtanimi">Sonlanma Tarihi</label>
									 <div class="col-md-12 a">
                                        <input type="text" id="daterangepicker3" class="form-control" data-bind="value: consummationDate, valueUpdate: 'keydown', event: { keypress: enterfilter }">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskNameFilter">Task Adı</label>
									</div>
									<div class="col-md-12">
										<select id="taskNameFilter" data-bind="options: tasks, optionsText: 'taskname', optionsValue: 'taskid', valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple"></select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">İnternet Servis Sağlayıcı</label>
									</div>
									<div class="col-md-12">
										<select id="servissaglayici" data-bind="options: isslist, optionsText: 'issText', optionsValue: 'issText', value: selectedIss, valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple">
										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskadi">Abone Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="abonedurumu" data-bind="options: ctstatuslist, optionsText: 'Text', optionsValue: 'Text', value: selectedCustomerstatus, valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple">
											
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="personel">Personel</label>
									</div>
									<div class="col-md-12">
										<select data-size="10" id="personel" data-bind="options: personellist,
                                                                                        optionsText: 'personelname',
                                                                                        optionsValue: 'personelid',
                                                                                        valueUpdate: 'keydown',
                                                                                        event: { keypress: enterfilter }" multiple="multiple">										
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
								<div class="form-group-sm has-info cls-margin-bottom">
									<div class="col-md-12">
										<label class="control-label" for="taskdurumu">Task Durumu</label>
									</div>
									<div class="col-md-12">
										<select id="taskdurumu"  data-bind="options: taskstatuslist, optionsText: 'taskstate', optionsValue: 'taskstateid',value:defaultstatus, valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple" >										    
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 21px;">
<!--								 <input  type="checkbox" data-bind="checked:atanmamistasklar" />Atanmamış Tasklar </input>-->
                                <div class="btn-group pull-right" role="group">
									<button data-bind="click:function(){ getFilter(1,dataModel.rowsPerPage())}"  type="button" class="btn btn-success">Sorgula</button>
									<button  data-bind="click:clean" type="button" class="btn btn-primary">Temizle</button>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col-md-6 col-md-offset-3" data-bind="visible: isLoading() == false && taskqueuelist().length==0" style="position: absolute; top: 150px;" id="id_alert" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
		            <div class="alert alert-danger alert-dismissible cls_alert" role="alert" style="height: 100px;">
			            <button type="button"class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			           <span class="glyphicon glyphicon-search"> <strong>Bence Yanlış Filtreleme Yaptın.</strong> </span>
                        <br /><strong>Ya da böyle bir kayıt yok</strong>

		            </div>
	            </div>

			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important; ">
				<div class="panel-group">
					<div class="panel" style="border: 1px solid #fff !important;">
						<div class="panel-heading task-gradient">
							<div class="row cls-padding-0px">
								<div class="col-xs-6 col-sm-6 col-md-6" data-bind="ifnot: isLoading" >
									Task İşlemleri
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Toplam sorgu süresi 
                                    <span id="querytime" data-bind="text: querytime"></span> saniye -&nbsp;&nbsp;
                                    Toplam
                                    <span  class="badge badge-info" id="totalCount" style="color:#79bbe6 ;font-family:'Comic Sans MS', cursive" data-bind="text: totalRowCount"></span> kayıttan  &nbsp;&nbsp;
                                    <span  class="badge badge-info" id="Span1" style="color:#79bbe6;font-family:'Comic Sans MS', cursive " data-bind="text: taskqueuelist().length"></span> adet görüntülüyorsunuz  &nbsp;&nbsp;
                                    <span class="glyphicon   glyphicon glyphicon-dashboard " aria-hidden="true"></span>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<!--pagination Starts-->
									<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
										<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
											<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
											<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
										</ul>
									</nav>
									<!--pagination finish-->
								</div>
							</div>
						</div>
						<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
							<div class="container-fluid cls-padding-0px cls-deneme-height ">
								<div class="row cls-margin-task">
									<div class="col-lg-12 cls-padding-0px">
										<div class="col-lg-12 cls-task cls-padding-0px table-responsive">
											<table class="table table-bordered table-hover" id="taskquetable" data-pagination="true" data-search="true">
												<thead>
													<tr>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">
															<div class="dropdown">
																<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" style="padding: 2px 15px;">
																	İşlemler <span class="caret"></span>
																</a>
																<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
																	<li class="dropdown-submenu">
																		<a tabindex="-1" href="#">Seçim</a>
																		<ul class="dropdown-menu">
																			<li><a tabindex="-1" href="#">Tümünü Seç</a></li>
																			<li><a href="#">Seçimi Çevir</a></li>
																			<li><a href="#">Seçimi Temizle</a></li>
																		</ul>
																	</li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="#randevu" role="button" data-toggle="modal">Randevu Tarihi</a></li>
											                        <li><a href="#personelatama" data-bind="click:attacheablecontrol" role="button" data-toggle="modal">Personel Ata</a></li>
											                        <li><a href="#sonlandir" role="button" data-toggle="modal">Taskları Sonlandır</a></li>
                                                                    <li class="divider"></li>
                                                                      <li class="dropdown-submenu">
												                            <a tabindex="-1" href="#">Kat Ziyaret İşlemleri</a>
												                            <ul class="dropdown-menu">
													                            <li><a href="#katziyareti1" id="katziyareti11" role="button" class="btn" data-toggle="modal" style="float: left;">Kat Ziyaret Sonuçlarını Toplu Gir</a></li>
													                            <li><a href="#katziyareti2" role="button" class="btn" data-toggle="modal" style="float: left;">Müşteri Statülerini Toplu Değiştir</a></li>
												                            </ul>
                                                                     </li>
                                                                    	<li class="divider"></li>
																	<li><a href="#">Excel'e Kaydet</a></li>
																</ul>
															</div>
														</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Task</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Site</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Blok</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Ad-Soyad</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Statü</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">ISS</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Atanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Randevu Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Personel</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Durum</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Sonlanma Tarihi</th>
														<th class="col-md-1" style="border-right: 1px solid #ddd;">Açıklama</th>
													</tr>                                                   
													
												</thead>
												<tbody>
                                                    <tr style="height:500px" data-bind="visible:isLoading">
														<td data-bind="visible: isLoading" colspan="12" style="background: url('/img/load.gif')  center no-repeat;"></td>
													</tr>
													<!-- ko foreach: taskqueuelist -->
													<tr  data-bind="attr:{class :attachedpersonel==null? ' satir' : (taskstatepool==null ?' satir' :' satir' )},value:taskorderno" style="line-height: 50px;" >
													
														<td><a href="#TaskQueueEditForm" data-bind="attr: {href:'#TaskQueueEditForm?'+taskorderno}">
																<button data-bind="visible:attachedpersonel && attachedpersonel.personelname" id="duzenle" type="button" class="btn btn-primary btn-lg" style="padding: 3px; border-radius: 5px; font-size:14px;">
																	Düzenle
																</button>
														    </a>
																<input class="sel"  type="checkbox" data-bind="value:taskorderno" />
														</td>
														<td style="color:#284af5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" data-bind="text:task.taskname"></td>
														<td data-bind="text: (attachedobject && (attachedobject.sitename || (attachedobject.site && attachedobject.site.sitename) ||
                                                                              (attachedobject.block && attachedobject.block.site && attachedobject.block.site.sitename)) ||
                                                                              '&lt;boş&gt;'
                                                                             )"></td>
														<td data-bind="text: attachedobject && (attachedobject.blockname || (attachedobject.block && attachedobject.block.blockname +' Daire:'+(attachedobject.flat )) || '&lt;boş&gt;')"></td>
														<td style="color:#284af5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                            <span data-bind="text:attachedobject && attachedobject.blockname"></span>
                                                            <a href="#customerinfo" class="musteri" role="button" data-toggle="modal" data-bind="text: (attachedobject && attachedobject.customername) || '&lt;boş&gt;', visible: attachedobject && attachedobject.customerid">
                                                            </a>
                                                        </td>
														<td data-bind="text: attachedobject && (attachedobject.customer_status && attachedobject.customer_status.Text || '&lt;boş&gt;') "></td>
														<td data-bind="text: attachedobject && (attachedobject.issStatus && attachedobject.issStatus.issText || '&lt;boş&gt;')"></td>
														<td data-bind="text: attachmentdate ? moment(attachmentdate).format('LLL') : '&lt;boş&gt;'" ></td>
														<td data-bind="text: (appointmentdate ? moment(appointmentdate).format('LLL') : '&lt;boş&gt;' )"></td>
														<td data-bind="text: (attachedpersonel && attachedpersonel.personelname || '&lt;atanmamış&gt;') "></td>
														<td style="font-size:large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" data-bind="text:(taskstatepool &&taskstatepool.taskstate || 'AÇIK')"></td>
														<td data-bind="text: consummationdate ? moment(consummationdate).format('LLL') : '&lt;boş&gt;'"></td>
														<td data-bind="text: description"></td> 
                                                         </tr>
                                                    <!-- /ko -->                                                    
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!--pagination Starts-->
							<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
										<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
											<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); }, enable: pageNo > 1">&lt;&lt;</a></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage(); }">&lt;</a></li>
                                            <li><select >
                                            <option value="0">0</option>
                                            </select></li>
											<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
											<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
										</ul>
									</nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
			</div>


    <!-- İşlemler *personel atama* For Modal Start -->
     <div class="modal fade" id="personelatama" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="margin-top: 50px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-bind="click:function(){redirect}" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Personel Atama</h4>
                    </div>
                    <div class="modal-body" style="display: inline-block; position: absolute; min-height: 50px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: !errorcode()">
                            <select id="personelatamacombo" data-bind="options: attacheablePersonelList, optionsText: 'personelname', optionsValue: 'personelid', value: selectedAttachmentPersonelid " multiple="multiple"></select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: errorcode()">
                            <span class="label label-success" data-bind="text: errormessage , visible:errorcode()==1" ></span>
                            <span class="label label-danger" data-bind="text: errormessage, visible: errorcode() != 1" ></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bind="click:function(){getFilter(1,dataModel.rowsPerPage())}" data-dismiss="modal">Kapat</button>
                        <button type="button" data-bind="click: attachmentpersonel" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
	<!-- İşlemler *personel atama* For Modal Finish-->
    <!-- Kat Ziyaret Sonuçlarını Toplu Gir For Modal Start-->
	<div class="modal fade" id="katziyareti1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="H1">Kat Ziyaret Sonuçlarını Toplu Gir</h4>
				</div>
				<div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Kat Ziyaret Sonucu</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select id="ziyaretcombo" class="form-control" data-bind="options:ziyaretStatusList,optionsText:'taskstate',optionsValue:'taskstateid',value:selectedZiyaretStatus,optionsCaption:'Seçiniz..'">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary" data-bind="click:function(){SaveZiyaretStatus()}">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Kat Ziyaret Sonuçlarını Toplu Gir For Modal Finish-->
    <!--Müşteri durumlarını Toplu Gir For Modal Start-->
	<div class="modal fade" id="katziyareti2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="H2">Müşteri Durumlarını Toplu Gir</h4>
				</div>
				<div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Müşteri Statüsünü Seçiniz</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select id="ziyaretcustomerstatus" data-bind="options: ctstatuslist, optionsText: 'Text', optionsValue: 'ID', value: selectedZiyaretCTstatus"  class="form-control">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary" data-bind="click:function(){SaveCTStatusOnZiyaret()}">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Müşteri durumlarını Toplu Gir For Modal Finish-->
    <!-- Müşteri ve Kat Ziyaret Sonuçlarını Toplu Gir For Modal Start-->
	<div class="modal fade" id="katziyareti3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="margin-top: 50px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="H3">Müşteri Ve Kat Ziyareti Sonuçlarını Toplu Gir</h4>
				</div>
				<div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Müşteri Statüsünü Seçiniz</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select class="form-control">
							<option></option>
							<option>MSS1</option>
							<option>MSS2</option>
							<option>MSS3</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Kat Ziyaret Sonucu</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select class="form-control">
							<option></option>
							<option>KZS1</option>
							<option>KZS2</option>
							<option>KZS3</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!--Müşteri ve Kat Ziyaret Sonuçlarını Toplu Gir For Modal Finish-->

        <div class="modal fade" id="customerinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-md" role="document" style="margin-top: 50px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Müşteri Kimlik Kartı</h4>
                    </div>
                    <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
                        <div class="tabbable" id="tabs">
                            <ul class="nav nav-tabs">
                                <li><a href="#" data-bind="visible: !newtab(), click: customerForModalAdd " data-toggle="tab">+ Ekle</a></li>
                                <!-- ko foreach: customersformodal-->
                                <li data-bind="css:{active: $root.customersformodalSelectedIndex()==$index()}">
                                    <a href="#tab1" data-toggle="tab" data-bind="text: customername, click:function(){ dataModel.customersformodalSelectedIndex($index());}"></a>
                                </li>
                                <!-- /ko -->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1" data-bind="with: customersformodal()[customersformodalSelectedIndex()]">
                                    <fieldset data-bind="disable:$root.customersformodalSelectedIndex()>0">
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Müşteri No:</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><label data-bind="text:customerid"></label></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Blok</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><label data-bind="text:block.blockid"></label></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Daire</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><label data-bind="text:flat"></label></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Son Güncelleme</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p> <label data-bind="text: moment(lastupdated).format('LLL')"></label></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Tc No</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><input class="form-control" data-bind="value:tckimlikno"></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Ad-Soyad</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><input id="custName" data-bind="value:customername" class="form-control"></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Gsm</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><input data-bind="value:gsm" class="form-control"></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Telefon</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p><input data-bind="value:phone" class="form-control"></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Müşteri Statüsü</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select class="form-control" id="abonedurumuinfo" data-bind="options: $parent.ctstatuslist,valueUpdate: 'change', event: { change: $root.closeableZiyaret } , optionsText: 'Text', optionsValue: 'ID', value: (customer_status && customer_status.ID || 0),optionsCaption:'Seçiniz'"></select>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>İnternet SS</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select class="form-control" id="issstatus" data-bind="options: $parent.isslist,
    optionsText: 'issText',
    optionsValue: 'id',valueUpdate: 'change', event: { change: $root.closeableZiyaret } ,
    value: (issStatus && issStatus.id || 0),optionsCaption:'Seçiniz'"></select>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>İnternet Ücreti</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select id="netstatus" class="form-control" data-bind="options: $parent.netStatusList, optionsText: 'netText', optionsValue: 'id', value: (netStatus && netStatus.id || 0),optionsCaption:'Seçiniz'"></select>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Telefon Ücreti</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select id="telstatus" class="form-control" data-bind="options: $parent.telStatusList,
                                                optionsText: 'telText' ,
                                                optionsValue: 'id' ,
                                                value: (telStatus && telStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Televizyon Kullanımı</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select id="tvstatus" class="form-control" data-bind="options: $parent.tvStatusList,
    optionsText: 'tvKullanımıText',
    optionsValue: 'id',
    value: (TvKullanımıStatus && TvKullanımıStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Turkcell Tv</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select id="ttvstatus" class="form-control" data-bind="options: $parent.TurkcellTvStatusList,
    optionsText: 'TurkcellTvText',
    optionsValue: 'id',
    value: (TurkcellTVStatus&&TurkcellTVStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Gsm Kullanımı</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <select id="gsmstatus" class="form-control" data-bind="options: $parent.gsmStatusList,
                                                optionsText: 'gsmText' ,
                                                optionsValue: 'id' ,
                                                value: (gsmKullanımıStatus &&gsmKullanımıStatus.id ||0),optionsCaption:'Seçiniz'"></select>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                            <p>Açıklama</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                            <p> <textarea data-bind="value:description" class="form-control" rows="3"></textarea></p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <fieldset data-bind="disable:customersformodalSelectedIndex()>0">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                            <button type="button" data-bind="click:saveCustomer" class="btn btn-primary">Kaydet</button>
                            <button type="button" data-bind="click:saveCustomerWithKatZiyaret,enable:isCloseableZiyaret()" class="btn btn-info btn-small">Kaydet ve Kat Ziyareti Kapat</button>
                        </fieldset>
                    </div>
                </div>

            </div>
            <!-- müşteri bilgilerini düzenleme For Modal Finish-->
        </div>
   </div>

<script type="text/javascript" src="Templates/ListTaskqueue.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    }); 
</script>
