<style>
	#taskquetable {
		cursor: pointer;
		color: #000;
	}

		#taskquetable tr:hover {
			background: #00ffff;
		}

	.selected {
		background: #ffd800;
	}
</style>
<div id="bindingContainer" class="container-fluid" style="background-color: lightcyan">
	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group" id="accordion">
			<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
				<div class="panel-heading filter-gradient">
                    <a data-toggle="collapse" data-target="#collapse1"
                       href="javascript:void(0)" class="collapsed filtertitle">
                        <h4 class="panel-title">
                            Filtreleme
                        </h4>
                    </a>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Site</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Blok</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Daire</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Müşteri Ad Soyad</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">GSM</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Telefon</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Fiber Başlangıç</label>
								<div class='input-group date' id='datetimepicker2'>
									<input type='text' class="form-control" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Kontrat Bitiş</label>
								<div class='input-group date' id='datetimepicker3'>
									<input type='text' class="form-control" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="durumtanimi">Emptor Müşteri Numarası</label>
								<input type="text" class="form-control" id="Text1" data-bind="value: sitename" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 21px;">
							<div class="btn-group pull-right" role="group">
								<button data-bind="click: getFilter(1,dataModel.rowsPerPage())" type="button" class="btn btn-success">Sorgula</button>
								<button type="button" class="btn btn-info">Temizle</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group">
			<div class="panel" style="border: 1px solid #fff !important;">
				<div class="panel-heading task-gradient">
					<div class="row cls-padding-0px">
						<div class="col-xs-6 col-sm-6 col-md-6">
							Müşteri Bilgileri
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<!--pagination Starts-->
							<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
								<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
									<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
									<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
									<li><select> <option>0</option></select></li>
									<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
									<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
								</ul>
							</nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
				<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
					<div class="container-fluid cls-padding-0px cls-deneme-height ">
						<div class="row cls-margin-task">
							<div class="col-lg-12 cls-padding-0px">
								<div class="col-lg-12 cls-task cls-padding-0px">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1"></th>
                                                    <th class="col-md-1">Site</th>
                                                    <th class="col-md-1">Blok</th>
                                                    <th class="col-md-1">Daire</th>
                                                    <th class="col-md-2">Müşteri Ad Soyad</th>
                                                    <th class="col-md-1">GSM</th>
                                                    <th class="col-md-1">Telefon</th>
                                                    <th class="col-md-1">Fiber Başlangıç</th>
                                                    <th class="col-md-1">Kontrat Bitiş</th>
                                                    <th class="col-md-2">Emptor Müşteri Numarası</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Düzenle</td>
                                                    <td>12345</td>
                                                    <td>Feb 1, 2014</td>
                                                    <td>$45.00</td>
                                                    <td>Owing</td>
                                                    <td>12345</td>
                                                    <td>Feb 1, 2014</td>
                                                    <td>$45.00</td>
                                                    <td>Owing</td>
                                                    <td>Owing</td>
                                                </tr>
                                                <tr>
                                                    <td>Düzenle</td>
                                                    <td>67890</td>
                                                    <td>Jan 30, 2014</td>
                                                    <td>$19.99</td>
                                                    <td>Overdue</td>
                                                    <td>12345</td>
                                                    <td>Feb 1, 2014</td>
                                                    <td>$45.00</td>
                                                    <td>Owing</td>
                                                    <td>Owing</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
								</div>
							</div>
						</div>
					</div>
					<!--pagination Starts-->
					<nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
						<ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
							<li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); }, enable: pageNo > 1">&lt;&lt;</a></li>
							<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage(); }">&lt;</a></li>
							<li>
								<select>
									<option value="0">0</option>
								</select>
							</li>
							<li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
							<li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
						</ul>
					</nav>
					<!--pagination finish-->
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="Templates/ListTaskqueue.js"></script>


<script>
    $(document).ready(function () {

        moment.locale('tr');
    });

</script>
