
<div id="bindingContainer" class="container-fluid" style="background-color: lightcyan">
	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group" id="accordion">
			<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
				<div class="panel-heading filter-gradient">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#collapse1"
						   href="javascript:void(0)" class="collapsed">
							Filtreleme
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="site">Site</label>
                                <input type="text" class="form-control" id="exampleInputName2" data-bind="value:site, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group-sm has-info cls-margin-bottom">
								<label class="control-label" for="region">Öbek</label>
                                <input type="text" class="form-control" id="exampleInputName2" data-bind="value:region, valueUpdate: 'keydown', event: { keypress: enterfilter }" />

							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 21px;">
							<div class="btn-group pull-right" role="group">
								<button data-bind="click:getSiteList(1,dataModel.rowsPerPage())" type="button" class="btn btn-success">Sorgula</button>
								<button data-bind="click:clean" type="button" class="btn btn-info">Temizle</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-bind="visible:siteList().length<1" class="col-md-6 col-md-offset-3" style="position: absolute; top: 150px;" id="id_alert" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
		<div class="alert alert-danger alert-dismissible cls_alert" role="alert" style="height: 100px;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>
	</div>

	<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
		<div class="panel-group">
			<div class="panel" style="border: 1px solid #fff !important;">
				<div class="panel-heading task-gradient">
					<div class="row cls-padding-0px">
						<div class="col-xs-6 col-sm-6 col-md-6">
							Site
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<!--pagination Starts-->
                            <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                                <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                                    <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                    <li><select> <option>1</option> </select></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                                    <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                                </ul>
                            </nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
				<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
					<div class="container-fluid cls-padding-0px cls-deneme-height ">
						<div class="row cls-margin-task">
							<div class="col-lg-12 cls-padding-0px">
								<div class="col-lg-12 cls-task cls-padding-0px">
									<table class="table" id="taskquetable" data-pagination="true" data-search="true">
										<thead>
											<tr>
												<th class="col-md-1" style="border-right: 1px solid #ddd;">
													<div class="dropdown">
														<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" style="padding: 2px 15px;">
															İşlemler <span class="caret"></span>
														</a>
														<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
															<li>
																<a href="#myModal1" role="button" class="btn" data-toggle="modal" style="padding-right: 110px; float: left;">Yeni</a>
															</li>
															<br />
															<li class="divider"></li>
															<li class="dropdown-submenu">
																<a tabindex="-1" href="#">Seçim</a>
																<ul class="dropdown-menu">
																	<li><a tabindex="-1" href="#">Tümünü Seç</a></li>
																	<li><a href="#">Seçimi Çevir</a></li>
																	<li><a href="#">Seçimi Temizle</a></li>
																</ul>
															</li>
															<li class="divider"></li>
															<li><a href="#">Excel'e Kaydet</a></li>
														</ul>
													</div>
												</th>
												<th style="border-right: 1px solid #ddd;">Site</th>
												<th style="border-right: 1px solid #ddd;">Adres</th>
												<th style="border-right: 1px solid #ddd;">Öbek</th>
												<th style="border-right: 1px solid #ddd;">Mahalle/Semt</th>
											</tr>
										</thead>
										<tbody>
											
											<tr>
												<td colspan="9"></td>
											</tr>
											
											<!-- ko foreach: siteList -->
											<tr  class="cls_line" onclick="">
												<td>
													<button type="button" data-bind="value:siteid" class="btn btn-primary btn-lg edit" data-toggle="modal" data-target="#myModal" style="padding: 3px; border-radius: 0px; font-size:14px;">
														Düzenle
													</button>
													<input type="checkbox" />
												</td>
                                                <td data-bind="text:sitename"></td>
                                                <td data-bind="text:siteaddress"></td>
                                                <td data-bind="text:region"></td>
                                                <td data-bind="text:sitedistrict"></td>
											</tr>
                                            <!-- /ko -->  
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!--pagination Starts-->
                    <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                        <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                            <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                            <li><select> <option>1</option> </select></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                            <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                        </ul>
                    </nav>
					<!--pagination finish-->
				</div>
			</div>
		</div>
	</div>

    <!-- İşlemler Yeni For Modal Start -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Form</h4>
                </div>
                <div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Site ID</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;"></p></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Site Adı</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <input type="text" class="form-control" id="Text1" value="">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adres</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Öbek</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Mahalle/Semt</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Bölge Kodu</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <input type="text" class="form-control" id="Text2" value="">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adres Tarifi</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- İşlemler Yeni For Modal Finish-->
    <!-- Duzenle For Modal Start-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1">Site Düzenleme</h4>
                </div>
                <div data-bind="with:selectedSite" class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Site ID</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <div data-bind="text:siteid" class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;"></p></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Site Adı</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <input data-bind="value:sitename" type="text" class="form-control" id="Text3" >
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adres</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <textarea data-bind="value:siteaddress" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Öbek</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control">
                            <option>Beşirli</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Mahalle/Semt</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control">
                            <option>BEŞİRLİ</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Bölge Kodu</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <input data-bind="value:siteregioncode" type="text" class="form-control" id="Text4" >
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adres Tarifi</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <textarea data-bind="value:description" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: $root.errorcode()">
                        <span class="label label-success" data-bind="text: $root.errormessage , visible:$root.errorcode()==1"></span>
                        <span class="label label-danger" data-bind="text: $root.errormessage, visible: $root.errorcode() != 1"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button data-bind="click:$root.editSite" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Duzenle For Modal Finish-->


</div>
<script type="text/javascript" src="Templates/Sites.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
