
<style>
    .a {
        position: relative;
        /*padding: 0;*/
    }

        .a i {
            position: relative;
            /*bottom: 10px;
            right: 24px;
            top: auto;*/
            cursor: pointer;
        }
</style>
<div id="bindingContainer" class="container-fluid" style="background-color: #D1E9F6 !important;">
    <span style="display:none"><input type="file" id="fileUpload" value="Seç..." name="fileUpload[]" multiple data-bind="enable: editable() && (customerdocument().length>0)" /></span>
    <div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group">
            <div class="panel" style="border: 1px solid #fff !important; padding-bottom: 30px;">
                <div class="panel-heading  panel-danger task-gradient filter-gradient">Task Bilgileri</div>
                <div class="panel-body">

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Task No</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">:</div>
                        <div data-bind="text:taskorderno" class="col-xs-6 col-sm-6 col-md-6"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Oluşturulma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div>
                                <input type="text" id="daterangepicker3" class="form-control a" data-bind="enable:false,value: creationdate ? creationdate :null">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Personel</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: personelname" class="col-xs-6 col-sm-6 col-md-6"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Abone Ad-Soyad</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#customerinfo" data-bind="text:customername,click: getCustomerCard" role="button" data-toggle="modal"></a>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Task</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: taskname" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Atanma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div class="form-group">
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker1" class="form-control" data-bind="enable: false, value: attachmentdate ? attachmentdate :null">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0;">Yardımcı Personel</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <select id="assistantPersonel" data-bind="options: personellist, optionsText: 'personelname', optionsValue: 'personelid', value: assistantpersonel," multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4" data-bind="text:locationid?' Location ID-TelocadiaID':'Müşteri ID'">Location/Telocardia ID</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                            <a href="#customerinfo" data-bind="text:locationid?locationid:customerid,click:getCustomerCard" role="button" data-toggle="modal"></a>
                            <span data-bind="visible:telocadia">-</span>
                            <a href="#customerinfo" data-bind="text:telocadia,click:getCustomerCard" role="button" data-toggle="modal"></a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-6 col-sm-6 col-md-6 " data-bind="visible:previoustask">
                            <a href="#taskinfo" data-toggle="modal" data-bind="click:getrelatedTaskInfo(previoustask())">
                                <button id="duzenle" type="button" class="btn btn-primary btn-small ">
                                    Önceki Task
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6" data-bind="visible:relatedtask">
                            <a href="#taskinfo" data-toggle="modal" data-bind="click:getrelatedTaskInfo(relatedtask())">
                                <button id="duzenle" type="button" class="btn btn-success btn-small ">
                                    İlişkili Task
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Randevu Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12  a">
                                    <input type="text" id="daterangepicker2" class="form-control " data-bind="value:appointmentdate ? appointmentdate :null">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="form-group height-30">
                            <div class="col-xs-4 col-sm-4 col-md-4 ">Site</div>
                            <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                            <div data-bind="text: sitename" class="col-xs-6 col-sm-6 col-md-6"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Gsm</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: customergsm" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 "></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Kapanma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker4" class="form-control" data-bind="value:consummationdate ? consummationdate :null">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-6 col-sm-2 col-md-4 ">Blok</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <!--<div data-bind="text:blockname() +' Daire: '+ flat(),visible:isAttacheableCustomerTask()" class="col-xs-6 col-sm-6 col-md-6 "></div>-->
                        <a href="#BlockModal" data-bind="text:blockname() +' Daire: '+ flat()" role="button" data-toggle="modal"></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Müşteri Statü</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <select id="abonedurumu" data-bind="options: ctstatuslist, optionsText: 'Text', optionsValue: 'ID', value: customerstatus,optionsCaption:'Seçiniz'"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Task Durumu</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                            <select id="taskdurumu" data-bind="enable:editable, options: taskstatuslist, optionsText: 'taskstate', optionsValue: 'taskstateid',value:taskstatus"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Öbek</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">:</div>
                        <div data-bind="text: region" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6 height-40">
                        <div class="col-xs-1 col-sm-1 col-md-1">Açıklama</div>
                        <div class="col-xs-1 col-sm-1 col-md-1 ">:</div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                            <textarea data-bind="value:description" readonly="readonly" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                            <textarea data-bind="value:descwrite" placeholder="Taska açıklama eklemek için kullanınız..." class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3" data-bind="visible : message" style="position: absolute; top: 150px;" id="id_alert" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
        <div class="alert alert-success alert-dismissible cls_alert" role="alert" style="height: 100px;">
            <button type="button" data-bind="click :function(){refresh}" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>İşlem Başarılı</strong>
        </div>
    </div>
    <br />
    <div class="col-md-12 cls-padding-0px" id="editContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="abonecontainer" class="col-md-12 cls-padding-0px">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Abone Kampanya & Ürün Bilgileri </a>
                        </h4>
                    </div>

                    <div id="collapse2" class="panel-collapse collapse" data-bind="css:{'in': campaignEditable}">
                        <fieldset data-bind="enable: campaignEditable">
                            <div class="panel-body">
                                <div class=" row">
                                    <div class="col-md-4  form-group-sm has-info cls-margin-bottom">
                                        <select id="kategori" data-bind="options:categorylist,optionsText:'category',optionsValue:'category',value:category,optionsCaption: 'Kategori Seçiniz...'"></select>
                                    </div>
                                    <div data-bind="visible:category" class="col-md-4  form-group-sm has-info">
                                        <select id="urun" data-bind="options:subcategorylist,optionsText:'subcategory',optionsValue:'subcategory',value:subcategory,optionsCaption: 'Alt Kategori Seçiniz...'"></select>
                                    </div>
                                    <div data-bind="visible:subcategory" class="col-md-4 form-group-sm has-info">
                                        <select id="kampanya" data-bind="options:campaignlist,optionsText:'name',optionsValue:'id',value:campaignid,optionsCaption: 'Kampanya Seçiniz...'"></select>
                                    </div>
                                </div>
                                <div class="row" data-bind="foreach:{ data: productlist, as:'categories'}">
                                    <div class="col-md-3">
                                        <div class="list-group">
                                            <h4 data-bind="text:categories.category" class="list-group-item active"></h4>
                                            <label class="list-group-item">
                                                <input data-bind="attr:{name: ('category' + $index()), value: 0},checked:categories.selectedProduct" type="radio" name="optradio1">
                                            </label>
                                            <!-- ko foreach:{ data: categories.products, as: 'product'} -->
                                            <label class="list-group-item">
                                                <input data-bind="attr:{name: ('category' + $parentContext.$index()), value: product.productid},checked:categories.selectedProduct" type="radio" name="optradio1">
                                                <span data-bind="text: product.productname"></span>
                                            </label>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div data-bind="visible: stockmovement().length>0" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Seri Numaralı Ürünler</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" data-bind="css:{'in': editable}">
                        <fieldset data-bind="enable: smEditable">
                            <div class="panel-body">
                                <div class="container-fluid cls-padding-0px cls-deneme-height ">
                                    <div class="row cls-margin-task">
                                        <div class="col-lg-12 cls-padding-0px">
                                            <div class="col-lg-12 cls-task cls-padding-0px">
                                                <table class="table" id="taskquetable" data-pagination="true" data-search="true">
                                                    <thead>
                                                        <tr>
                                                            <th class="warning">Hareket Tarihi</th>
                                                            <th class="info">Çıkış Yapan Birim</th>
                                                            <th class="info">Çıkış Yapılan Birim</th>
                                                            <th class="info">ürün Adı</th>
                                                            <th class="info">Adet/Serial No</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach:{ data:stockmovement , as:'sm'}">
                                                        <tr class="cls_line" onclick="">
                                                            <td data-bind="text:moment().format('lll')"></td>
                                                            <td data-bind="text:$root.personelname"></td>
                                                            <td data-bind="text:$root.customername"></td>
                                                            <td data-bind="text:sm.stockcard.productname"></td>
                                                            <td>
                                                                <!--ko if:sm.stockcard.hasserial-->
                                                                <select id="serialno" data-bind="disable: sm.max()<=0, options:sm.serials,optionsCaption:'Seçiniz...', value:sm.serial"></select>
                                                                <!--/ko-->
                                                                <!--ko ifnot:sm.stockcard.hasserial-->
                                                                <input data-bind="value:sm.used,disable:sm.max()<=0, attr:{'max':sm.max},valueUpdate:'input'"
                                                                       type="text" class="form-control" id="exampleInputName2" style="height:30px;" placeholder="Default" /> / <span data-bind="text:sm.available"></span>
                                                                <!--/ko-->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div data-bind="visible: customerdocument().length>0" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Döküman Yükleme </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" data-bind="css:{'in': editable}">
                        <fieldset data-bind="enable: cdEditable">
                            <div class="panel-body" data-bind="visible:customerdocument().length>0">
                                <table class="table" id="taskquetable" data-pagination="true" data-search="true">
                                    <thead>
                                        <tr>
                                            <th class="warning">Döküman Adı</th>
                                            <th class="info">Döküman Yolu</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:{ data:customerdocument}">
                                        <tr class="cls_line" onclick="">
                                            <td data-bind="text:fiber_document.documentname, attr:{'title': fiber_document.documentdescription}"></td>
                                            <td>
                                                <div>
                                                    <input class="btn" type="button" value="Seç..." data-bind="click: function(){ $root.selectFile(fiber_document.documentid); }" />
                                                    <span data-bind="text:documenturl"></span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 height-30 navbar-form pull-right">
        <span data-bind="visible:taskstatus()==0" class="label label-danger">Taskın Durumu Henüz Girilmemiş</span>
        <span data-bind="visible:!campaignIsValid()" class="label label-danger">Kampanya Bilgileri Girilmemiş</span>
        <span data-bind="visible:!cdIsValid()" class="label label-danger">Döküman Yüklemeniz Gerekiyor</span>
        <span data-bind="visible:!smIsValid()" class="label label-danger">Donanım Girmeniz Gerekiyor</span>
        <span data-bind="visible:errormessage(), text:errormessage" class="label label-danger"></span>
        <button data-bind="click:modelIsValid()?function() {saveTaskQueues() }:(descriptionControl()?function() {saveTaskQueueDescription() }:null),enable:modelIsValid() ||descriptionControl() " type="button" class="btn btn-success cls-right cls-button-control">Kaydet ve Anasayfaya Dön</button>
    </div>

    <!-- müşteri bilgilerini düzenleme For Modal Start -->
    <div class="modal fade" id="customerinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Müşteri Kimlik Kartı</h4>
                </div>
                <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
                    <div class="tabbable" id="tabs">
                        <ul class="nav nav-tabs">
                            <li><a href="#" data-bind="visible: !newtab(), click: customerForModalAdd " data-toggle="tab">+ Ekle</a></li>
                            <!-- ko foreach: customersformodal-->
                            <li data-bind="css:{active: $root.customersformodalSelectedIndex()==$index()}">
                                <a href="#tab1" data-toggle="tab" data-bind="text: customername, click:function(){ dataModel.customersformodalSelectedIndex($index());}"></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1" data-bind="with: customersformodal()[customersformodalSelectedIndex()]">
                                <fieldset data-bind="disable:$root.customersformodalSelectedIndex()>0">
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Müşteri No:</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><label data-bind="text:customerid"></label></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Blok</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><label data-bind="text:block.blockid"></label></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Daire</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><label data-bind="text:flat"></label></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Son Güncelleme</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p> <label data-bind="text: moment(lastupdated).format('LLL')"></label></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>S. Müşteri No</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><input class="form-control" data-bind="value:superonlineCustNo,enable:$root.perOfBayiOrKoc()"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Tc No</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><input class="form-control" data-bind="value:tckimlikno"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Ad-Soyad</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><input id="custName" data-bind="value:customername" class="form-control"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Gsm</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><input data-bind="value:gsm" class="form-control"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Telefon</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p><input data-bind="value:phone" class="form-control"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Müşteri Statüsü</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select class="form-control" id="abonedurumuinfo" data-bind="options: $parent.ctstatuslist,valueUpdate: 'change', event: { change: $root.closeableZiyaret } , optionsText: 'Text', optionsValue: 'ID', value: (customer_status && customer_status.ID || 0),optionsCaption:'Seçiniz'"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>İnternet SS</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select class="form-control" id="issstatus" data-bind="options: $parent.issStatusList,
    optionsText: 'issText',
    optionsValue: 'id',valueUpdate: 'change', event: { change: $root.closeableZiyaret } ,
    value: (issStatus && issStatus.id || 0),optionsCaption:'Seçiniz'"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>İnternet Ücreti</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select id="netstatus" class="form-control" data-bind="options: $parent.netStatusList, optionsText: 'netText', optionsValue: 'id', value: (netStatus && netStatus.id || 0),optionsCaption:'Seçiniz'"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Telefon Ücreti</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select id="telstatus" class="form-control" data-bind="options: $parent.telStatusList,
                                                optionsText: 'telText' ,
                                                optionsValue: 'id' ,
                                                value: (telStatus && telStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Televizyon Kullanımı</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select id="tvstatus" class="form-control" data-bind="options: $parent.tvStatusList,
    optionsText: 'tvKullanımıText',
    optionsValue: 'id',
    value: (TvKullanımıStatus && TvKullanımıStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Turkcell Tv</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select id="ttvstatus" class="form-control" data-bind="options: $parent.TurkcellTvStatusList,
    optionsText: 'TurkcellTvText',
    optionsValue: 'id',
    value: (TurkcellTVStatus&&TurkcellTVStatus.id || 0),optionsCaption:'Seçiniz'"></select>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Gsm Kullanımı</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <select id="gsmstatus" class="form-control" data-bind="options: $parent.gsmStatusList,
                                                optionsText: 'gsmText' ,
                                                optionsValue: 'id' ,
                                                value: (gsmKullanımıStatus &&gsmKullanımıStatus.id ||0),optionsCaption:'Seçiniz'"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                                        <p>Açıklama</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                                        <p> <textarea data-bind="value:description" class="form-control" rows="3"></textarea></p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <fieldset data-bind="disable:customersformodalSelectedIndex()>0">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                        <button type="button" data-bind="click:saveCustomer" class="btn btn-primary">Kaydet</button>
                        <button type="button" data-bind="click:saveCustomerWithKatZiyaret,enable:isCloseableZiyaret()" class="btn btn-info btn-small">Kaydet ve Kat Ziyareti Kapat</button>
                    </fieldset>
                </div>
            </div>

        </div>
        <!-- müşteri bilgilerini düzenleme For Modal Finish-->
    </div>
    <!-- müşteri bilgilerini düzenleme For Modal Finish-->
    <!-- Duzenle For Modal Start-->
    <div class="modal fade" id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin-top: 10px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1">Edit Form</h4>
                </div>
                <div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
                    <div data-bind="with: selectedBlock">
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Blok ID</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <div data-bind="text:blockid" class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;"></p></div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Site</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <select id="sitename" class="form-control" data-bind="options:$root.siteList,optionsText:'sitename',optionsValue:'siteid',value:site.siteid"></select>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Blok</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:blockname" type="text" class="form-control" id="Text15">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Bölge Kodu</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;"></p></div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Telocordia ID</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:telocadia" type="text" class="form-control" id="Text16">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Location ID</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:locationid" type="text" class="form-control" id="Text17">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Proje No</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:projectno" type="text" class="form-control" id="Text18">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>HP</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:hp" type="text" class="form-control" id="Text19">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Satış Sorumlusu</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <select id="editsatissorumlusu" class="form-control" data-bind="options:$root.personellist,optionsValue:'personelid',optionsText:'personelname',optionsCaption:'Seçiniz',value:salespersonel?salespersonel.personelid:null"> </select>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Yönetici Adı</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:superintendent" type="text" class="form-control" id="Text20">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Yönetici GSM</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:superintendentcontact" type="text" class="form-control" id="Text21">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Kapıcı Adı</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:cocierge" type="text" class="form-control" id="Text22">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Kapıcı GSM</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:cociergecontact" type="text" class="form-control" id="Text23">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Dikey İmalat Hattı</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:verticalproductionline" type="text" class="form-control" id="Text24">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Bina Kodu</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:binakodu" type="text" class="form-control" id="Text25">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                            <p>Object ID</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                            <input data-bind="value:objid" type="text" class="form-control" id="Text26">
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>SO Satışa Hazır</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <div class="col-md-12 a">
                            <input type="text" id="d1" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>SO Fiber Başlangıç</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <div class="col-md-12 a">
                            <input type="text" id="d2" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Koç Satışa Açık</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <div class="col-md-12 a">
                            <input type="text" id="d3" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: $root.errorcode()">
                        <span class="label label-success" data-bind="text: $root.errormessage , visible:$root.errorcode()==1"></span>
                        <span class="label label-danger" data-bind="text: $root.errormessage, visible: $root.errorcode() != 1"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button data-bind="click:$root.editBlock" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Duzenle For Modal Finish-->
    <!-- previous and related task info -->
    <div class="modal fade" id="taskinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Müşteri Kimlik Kartı</h4>
                </div>
                <div class="modal-body" data-bind="with: relatedTaskInfo" style="display: inline-block; position: relative; min-height: 50px;">

                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Task No:</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><label data-bind="text:taskorderno"></label></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Task Adı :</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p><label data-bind="text:task.taskname"></label></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Personel Adı :</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><label data-bind="text:attachedpersonel.personelname"></label></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Açıklama :</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><label data-bind="text:description"></label></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="Templates/TaskQueueEditForm.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>

<script src="Scripts/canvas-to-blob.min.js"></script>
