
    <div id="bindingmodal" class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H6">Yeni Arıza Taskı</h4>
            </div>
            <div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Arıza Tarihi</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input type="text" class="form-control" id="arizatarihi" data-bind="value:appointmentdate" placeholder="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Kaynak</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="kaynak" multiple="multiple" data-bind="value:fault">
                        <option value="Teknik Personel">Teknik Personel</option>
                        <option value="Karşılama">Karşılama</option>
                        <option value="Satış Personeli">Satış Personeli</option>
                        <option value="Diğer Personel">Diğer Personel</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Personel</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="ariza_personel" data-bind="options: personellist,
                                                                                        optionsText: 'personelname',
                                                                                        optionsValue: 'personelid',
                                                                                        value: attachedpersonelid" class="form-control" multiple="multiple"></select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Öbek</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="ariza_region" data-bind="options:regionlist,optionsText:'region',optionsValue:'region',value:region" class="form-control" multiple="multiple"></select>
                </div>
                <div  data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Site</p>
                </div>
                <div  data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="site" data-bind="options:sitelist,optionsText:'sitename',optionsValue:'siteid',value:siteid" class="form-control" multiple="multiple"></select>
                </div>
                <div  data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Blok</p>
                </div>
                <div  data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="ariza_block" data-bind="options:blocklist,optionsText:'blockname',optionsValue:'blockid',value:blockid" class="form-control" multiple="multiple"></select>
                </div>
                <div  data-bind="visible:blockid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Müşteri</p>
                </div>
                <div  data-bind="visible:blockid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="ariza_customer" data-bind="options:customerlist,
                                                              optionsText: function(item) {
                                                return item.customername ?(item.customerid+ ' Daire :'+item.flat+' '+ item.customername + ' ' + item.customersurname) : item.customerid + ' Daire: '+item.flat +'  BOŞ DAİRE '
                                                          },
                                                              optionsValue:'customerid',
                                                              value:customerid" class="form-control" multiple="multiple"></select>        </div>
                <div  data-bind="visible:customerid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Açıklama</p>
                </div>
                <div  data-bind="visible:customerid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <textarea data-bind="value:description" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button  data-bind="visible:customerid && attachedpersonelid && appointmentdate && fault ,click:saveFaultTask" type="button" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
<script type="text/javascript" src="Templates/New/arizataski.js"></script>