<div id="bindingmodal" class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
    <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Fiber Satış</h4>
                </div>
                <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Satış Tarihi</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <input data-bind="value:appointmentdate" type="text" id="daterangepicker11" class="form-control">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Personel</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="salespersonel" data-bind="options: personellist,
                                                                                        optionsText: 'personelname',
                                                                                        optionsValue: 'personelid',
                                                                                        value: attachedpersonelid" class="form-control" multiple="multiple"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Öbek</p>
                    </div>
                    <div  class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="region" data-bind="options:regionlist,optionsText:'region',optionsValue:'region',value:region" class="form-control" multiple="multiple">
                        </select>
                    </div>
                    <div data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Site</p>
                    </div>
                    <div data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="salessite" data-bind="options:sitelist,optionsText:'sitename',optionsValue:'siteid',value:siteid" class="form-control" multiple="multiple"></select>
                    </div>
                    <div data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Block</p>
                    </div>
                    <div data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="salesblock" data-bind="options:blocklist,optionsText:'blockname',optionsValue:'blockid',value:blockid" class="form-control" multiple="multiple"></select>
                    </div>
                    <div data-bind="visible:blockid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Müşteri</p>
                    </div>
                    <div data-bind="visible:blockid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="salescustomer" data-bind="options:customerlist,
                                                              optionsText: function(item) {
                                                return item.customername ?(item.customerid+ ' Daire :'+item.flat+' ' +  item.customername + ' ' + item.customersurname) : item.customerid + ' Daire: '+item.flat +'  BOŞ DAİRE '
                                                          },
                                                              optionsValue:'customerid',
                                                              value:customerid" class="form-control" multiple="multiple"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button type="button"data-bind="click:savesalestask" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
    
</div>
<script src="Scripts/bootstrap-datetimepicker.js"></script>
<script src="Scripts/daterangepicker.js"></script>
<script type="text/javascript" src="Templates/New/FiberSales.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
