<div id="bindingmodal" class="modal-dialog modal-md" role="document" style="margin-top: 50px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Yeni Task Oluşturma</h4>
        </div>
        <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Task</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="newglobaltaskcombo" data-bind="options:globaltasklist,optionsText:'taskname',optionsValue:'taskid',value:selectedtaskid,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Personel</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="salespersonel" data-bind="options: personellist,
                                                                                        optionsText: 'personelname',
                                                                                        optionsValue: 'personelid',
                                                                                        value: attachedpersonelid,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Öbek</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="region" data-bind="options:regionlist,optionsText:'region',optionsValue:'region',value:region,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
            <div data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Site</p>
            </div>
            <div data-bind="visible:region" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="salessite" data-bind="options:sitelist,optionsText:'sitename',optionsValue:'siteid',value:siteid,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
            <div data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Block</p>
            </div>
            <div data-bind="visible:siteid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="salesblock" data-bind="options:blocklist,optionsText:'blockname',optionsValue:'blockid',value:blockid,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
            <div data-bind="visible:blockid() && isAttacheableCustomer()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Müşteri</p>
            </div>
            <div data-bind="visible:blockid() && isAttacheableCustomer()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="salescustomer" data-bind="options:customerlist,
                                                              optionsText: function(item) {
                                                return item.customername ?(item.customerid+ ' Daire :'+item.flat+' ' +  item.customername + ' ' + item.customersurname) : item.customerid + ' Daire: '+item.flat +'  BOŞ DAİRE '
                                                          },
                                                              optionsValue:'customerid',
                                                              value:customerid,optionsCaption:'Seçiniz'" class="form-control"></select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            <button type="button" data-bind="click:savesalestask,enable:selectedtaskid()&&((isAttacheableCustomer() && customerid()) || (!isAttacheableCustomer() && blockid()))" class="btn btn-primary">Kaydet</button>
        </div>
    </div>

</div>
<script src="Scripts/bootstrap-datetimepicker.js"></script>
<script src="Scripts/daterangepicker.js"></script>
<script type="text/javascript" src="Templates/New/NewGlobalTask.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
