<!-- Task İşlemleri Yeni For Modal Start-->
	<div class="modal fade" id="yeni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="margin-top: 3px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Form</h4>
				</div>
				<div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Task Numarası</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<div class="col-md-12" style="background-color: #eee; height: 30px; border-radius: 4px;"><p style="padding-top: 5px;">0</p></div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Task</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="exampleInputName2" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Site</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text1" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Blok</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text2" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Müşteri Ad Soyad</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text3" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Müşteri Statü</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text4" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Internet Servis Sağlayici</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text5" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Atanma Tarihi</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="date" class="form-control" id="Date1" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Randevu Tarihi</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="date" class="form-control" id="Date2" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Personel</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text6" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Durum</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text7" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Sonlanma Tarihi</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="date" class="form-control" id="Date3" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Açıklama</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text8" value="" placeholder="">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Task İşlemleri Yeni For Modal Finish-->