<!-- Yeni TurkcellTV Arıza Taskı For Modal Start-->
	<div class="modal fade" id="arizataski3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Yeni TurkcellTV Arıza Taskı</h4>
				</div>
				<div class="modal-body" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Arıza Tarihi</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="date" class="form-control" id="exampleInputName2" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Kaynek</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select class="form-control">
							<option></option>
							<option>Kaynak1</option>
							<option>Kaynak2</option>
							<option>Kaynak3</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Personel</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select class="form-control">
							<option></option>
							<option>Personel1</option>
							<option>Personel2</option>
							<option>Personel3</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Öbek</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<select class="form-control">
							<option></option>
							<option>Öbek1</option>
							<option>Öbek2</option>
							<option>Öbek3</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Site</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text1" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Müşteri</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<input type="text" class="form-control" id="Text2" value="" placeholder="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
						<p>Açıklama</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Yeni TurkcellTV Arıza Taskı For Modal Finish-->