<!-- İşlemler Yeni For Modal Start -->
	<!-- Modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Form</h4>
				</div>
				<div class="modal-body col-md-12" style="display: inline-block;position:relative; min-height:50px;">
					<div class="col-md-5 cls-padding-0px">
						<p>Çıkış Yapılan Birim Türü</p>
					</div>
					<div class="col-md-7 cls-padding-0px">
						<select class="form-control">
							<option></option>
							<option>Depo</option>
							<option>Satış Personeli</option>
							<option>İmalat Personeli</option>
							<option>Teknik Personel</option>
							<option>Backoffice Personeli</option>
						</select>
					</div>
					<div class="col-md-5 cls-padding-0px">
						<p>Çıkış Yapılan Birim</p>
					</div>
					<div class="col-md-7 cls-padding-0px">
						<select class="form-control">
							<option></option>
						</select>
					</div>
					<div class="col-md-5 cls-padding-0px">
						<p>Ürün Adı</p>
					</div>
					<div class="col-md-7 cls-padding-0px">
						<select class="form-control">
							<option></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-md-5 cls-padding-0px">
						<p>Hareket ID</p>
					</div>
					<div class="col-md-7 cls-padding-0px">
						<input type="text" class="form-control" id="exampleInputName2" value="">
					</div>
					<div class="col-md-5 cls-padding-0px">
						<p>Adet</p>
					</div>
					<div class="col-md-7 cls-padding-0px">
						<select class="form-control">
							<option></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-md-5 cls-padding-0px"></div>
					<div class="col-md-7 cls-padding-0px">
						<input type="text" class="form-control" id="Text1" value="">
					</div>
					<div class="col-md-5 cls-padding-0px"><p style="padding-top: 100px;">Serial</p></div>
					<div class="col-md-7 cls-padding-0px">
						<div class="col-md-12 cls-padding-0px" style="background-color: #C4E2E5; border-radius: 0px;">Serial</div>
						<input type="text" class="form-control" id="Text2" style="border-radius: 0px; height: 200px;" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
					<button type="button" class="btn btn-primary">Kaydet</button>
				</div>
			</div>
		</div>
	</div>
	<!-- İşlemler Yeni For Modal Finish -->